name: Publish Docker image to Docker Hub

on:
  push:
    branches: 
      - 'main'
      - 'release'

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: okeyobia/gitops-app
          tags: |
            type=sha,prefix={{branch}}-,format=short
            
      - name: Update deployment manifest
        run: |
          TAG=${{ steps.meta.outputs.tags }}
          sed -i "s|image: okeyobia/gitops-app:.*|image: ${TAG}|g" deployment.yaml
          
      - name: Commit and push changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add deployment.yaml
          git commit -m "Update image tag to ${{ steps.meta.outputs.tags }}"
          git push
          
      - name: Build and push Docker image
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          file: ./src/dockerfile
          push: true
          tags:  ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
